<h2 style="text-align: center; margin-top: 10px; margin-top: 20px;">
    Employee File Upload
</h2>

<div class="row" style="margin-top: 40px;">
    <div class="col">
        <input #myInput type="file" style="width: 700px;" class="form-control" name="filename"
            (change)="onChange($event)"   accept=".xls, .xlsx" />
    </div>

    <div class="col">
        <button type="button" class="btn btn-warning" (click)="uploadFile()">Upload</button> &nbsp;
        <button type="button" class="btn btn-danger" (click)="reset()">Reset</button>
    </div>
</div>
<br><br>


<div class="row">
    <div class="text-center">
        <button type="button" class="btn btn-danger" (click)="Cancel()">Cancel</button>
    </div>
</div>